<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Autor</title>

</head>
<body>
    <header>
      <div>
        <ul class="nav nav-tabs bg-dark">
          <li class="nav-item">
            <a class="nav-link text-warning" th:href="@{/libros}">Libros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/autores}"><strong>Autores</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" th:href="@{/editoriales}">Editoriales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" th:href="@{/administracion/libro}">Administracion</a>
          </li>
        </ul>
      </div>
      <div>
        <nav class="navbar navbar-light bg-transparent">
          <div class="container-fluid">
            <a class="navbar-brand"></a>
            <form class="d-flex" th:action="@{/autores}">
              <input class="form-control me-2" type="search" placeholder="Autores" aria-label="Autores" name="buscar">
              <button class="btn btn-outline-dark" type="submit">Encontrar</button>
            </form>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <main class="objetos">
        <article class="objeto" th:each=" autor : ${autores}">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title d-flex justify-content-center" th:text="${autor.nombre}"></h5>
            </div>
            <div class="card-body btn-group">
              <a th:href=@{/administracion/autor/__${autor.id}__} class="btn btn-primary">Editar</a>
                <a th:if="${autor.alta}" th:href="@{/autores/alta/__${autor.id}__}" class="btn btn-outline-success">Dar Baja</a>
                <a  th:unless="${autor.alta}" th:href="@{/autores/alta/__${autor.id}__}" class="btn btn-outline-danger">Dar alta</a>
              
            </div>
          </div>
        </article>
        <article class="objeto">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Administrador de Autores</h5>
              <p class="card-text">Agregar Un Nuevo Autor</p>
              <a th:href="@{/administracion/autor}" class="btn btn-primary">Entrar</a>
            </div>
          </div>
        </article>
      </main>
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>